// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 14px;
$body-font-family: "Inter", sans-serif;
$secondary-font-family: "Satisfy", cursive;
$container-padding-x: 15px !default;
$container-padding-y: 0 !default;

$grid-breakpoints: (
  "xs": 0,
  "sm": 340px,
  "md": 767px,
  "lg": 800px - 30px,
  "xl": 1280px - 30px,
);

$headings: (
  "h1": (
    "size": 3.3125rem,
    "line-height": 1.15em,
    "weight": 700,
  ),
  "h2": (
    "size": 2.5rem,
    "line-height": 1.5em,
    "weight": 700,
  ),
  "h5": (
    "size": 1.25rem,
    "line-height": 1.5em,
    "weight": 600,
  ),
  "h6": (
    "size": 1rem,
    "line-height": 1.5em,
    "weight": 500,
  ),
  "subtitle-1": (
    "size": 2.5rem,
    "line-height": 1em,
    "weight": 500,
    "font-family": $secondary-font-family,
  ),
  "subtitle-2": (
    "size": 1.5rem,
    "line-height": 1em,
    "weight": 500,
    "font-family": $body-font-family,
  ),
  "body-1": (
    "size": 1.875rem,
    "line-height": 1em,
    "weight": 500,
    "font-family": $body-font-family,
  ),
  "body-2": (
    "size": 1.5rem,
    "line-height": 2.25rem,
    "weight": 500,
    "font-family": $body-font-family,
  ),
);

$data-table-regular-row-font-size: 14px;
$list-item-title-font-size: 14px;
$snackbar-content-font-size: 14px;

.page-header,
.page-body {
  position: relative;
  padding: 15px;
}

.certificate-print {
  position: relative;
  &.old {
    @media print {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
      font-weight: 600;
      @page {
        size: A4; /* DIN A4 standard, Europe */
        orientation: landscape;
        margin: 0;
        margin-top: 66mm;
        margin-left: 75mm;
      }
      display: block;
      padding-top: 320px;
      padding-left: 250px;
      .ref-no {
        position: relative;
      }
      .student-id {
        margin-top: 20px;
      }
      .student-name {
        margin-top: 60px;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
      }
      .course-name {
        margin-top: 65px;
        text-align: center;
        text-transform: uppercase;
      }
      .grade {
        margin-top: 40px;
        margin-left: 245px;
        display: flex;
        width: 100%;
      }
      .center-name {
        margin-top: 35px;
        text-align: center;
        text-transform: uppercase;
      }
      .certificate-date {
        margin-top: 100px;
        margin-left: 130px;
      }
      .location {
        margin-top: 17px;
        margin-left: 130px;
        text-transform: uppercase;
      }
    }
  }
}
