.certificate-print {
  position: relative;
}

@media print {
  .certificate-print.old {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 109.4mm 0 0 45mm;
  }

  .certificate-print.new {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 98mm 0 0 22mm;
  }

  @page {
    size: A4 landscape;
    margin: 0;
    /* top right bottom left */
    /* 127.92mm 0 0 47.97mm */
  }

  .certificate-print.old .ref-no {
    position: relative;
    margin-left: 175px;
  }

  .certificate-print.old .student-id {
    margin-top: 17px;
    margin-left: 185px;
  }

  .certificate-print.old .student-name {
    margin-top: 52px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
  }

  .certificate-print.old .course-name {
    margin-top: 78px;
    text-align: center;
    text-transform: uppercase;
  }

  .certificate-print.old .grade {
    margin-top: 33px;
    margin-left: 230px;
    display: flex;
    width: 100%;
  }

  .certificate-print.old .grade .grade-value {
    margin-right: 400px
  }

  .certificate-print.old .grade .addmission-date {}

  .certificate-print.old .grade .end-date {
    margin-left: 170px;
  }

  .certificate-print.old .center-name {
    margin-top: 33px;
    text-align: center;
    text-transform: uppercase;
  }

  .certificate-print.old .certificate-date {
    margin-top: 95px;
    margin-left: 130px;
  }

  .certificate-print.old .location {
    margin-top: 17px;
    margin-left: 130px;
    text-transform: uppercase;
  }

  .certificate-print.new .ref-no {
    position: relative;
    margin-left: 175px;
  }

  .certificate-print.new .student-id {
    margin-top: 17px;
    margin-left: 185px;
  }

  .certificate-print.new .student-name {
    margin-top: 88px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
  }

  .certificate-print.new .course-name {
    margin-top: 78px;
    text-align: center;
    text-transform: uppercase;
  }

  .certificate-print.new .grade {
    margin-top: 33px;
    margin-left: 180px;
    display: flex;
    width: 100%;
  }

  .certificate-print.new .grade .grade-value {
    margin-right: 400px
  }

  .certificate-print.new .grade .addmission-date {}

  .certificate-print.new .grade .end-date {
    margin-left: 170px;
  }

  .certificate-print.new .center-name {
    margin-top: 33px;
    text-align: center;
    text-transform: uppercase;
  }

  .certificate-print.new .certificate-date {
    margin-top: 70px;
    margin-left: 130px;
  }

  .certificate-print.new .location {
    margin-top: 17px;
    margin-left: 130px;
    text-transform: uppercase;
  }
}